
body{
	background-color: #a8bcea;
	/* outline: red 1px solid; */
}
header{
	/* outline: lime 2px solid; */
	text-align: center;
	color: #27496d;
}
footer{
	/* outline: lime 1px solid; */
	position: fixed;
	bottom: 20px;
	width:100%;
	display: block;
	text-align: center;
}
#mainWidget{
	text-align: center;
	position: absolute;
	top: 40%;
	width: 100%;
}
#textEdit{
	float: left;
	margin-left: 80px;
	/* outline: orange solid 1px; */
	height: 87px;
}
#penduOuPas{
	display: inline-block;
	width: 50%;
	text-align: center;
	/* outline: blue solid 2px; */
}
.td{
	padding: 2px;
	margin: 2px;
	display: inline-block;
	border-bottom: red 3px solid;
	height: 40px;
	width: 40px;
}
button{
	width: 40px;
	height: 40px;
	outline: none;
	color: #fff;
  	background-color: #6496c8;
	text-shadow: -1px 1px #417cb8;
	border: none;
}
button:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
button:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}
em{
	margin-left: 5px; 
	font-style: normal;
	font-weight: bold;
}